#container{
  display: flex;
  justify-content: center;
}

h4{
  font-family: sans-serif;
}
.button {
  border-radius: 100px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: fantasy;
  margin: 4px 2px;

}

.section {
  padding: 5rem 0 6rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

.values {
  background-image: url('../image/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  font-family: sans-serif;

}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}


.get-help {
  border-bottom: 1px solid #ddd;
}


.categories {
  background-image: url('../image/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 10rem 0 19rem;
  }
  .hero {
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}


/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 17rem 0 18rem;
  }
  .hero {
    padding: 15rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}
